{template nheader.html}
<script type="text/javascript">
{if IS_POST}
dr_tips("{L('操作成功，正在刷新...')}", 3, 1);
{/if}
</script>
<form class="form-horizontal" action="" method="post" id="myform" name="myform">
    <div class="page-bar">
        <ul class="page-breadcrumb mylink">
            {$menu.link}

        </ul>
        <ul class="page-breadcrumb myname">
            {$menu.name}
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {L('操作菜单')}
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    {loop $menu.quick $t}
                    <li>
                        <a href="{$t.url}">{$t.icon} {$t.name}</a>
                    </li>
                    {/loop}
                    <li class="divider"> </li>
                    <li>
                        <a href="javascript:window.location.reload();">
                            <i class="icon-refresh"></i> {L('刷新页面')}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h3 class="page-title">
        <small>{L('支付系统支持多个第三方支付平台')}</small>
    </h3>

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green sbold uppercase">支付宝</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="portlet-body form">
                    <div class="form-group">
                        <label class="col-md-3 control-label">{L('可用')}：</label>
                        <div class="col-md-9">
                            <label><input name="setting[use][]" type="checkbox" {if @in_array($dir, $setting['use'])}checked="checked"{/if} value="{$dir}" /></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">启用手机接口：</label>
                        <div class="col-md-9">
                            <label><input name="data[<?php echo $dir;?>][wap]" type="checkbox" <?php if ($t['wap']) { ?>checked="checked" <?php } ?> value="1" /></label>
                        </div>
                    </div>      
                    <div class="form-group">
                        <label class="col-md-3 control-label">支付宝账号(Email)：</label>
                        <div class="col-md-9">
                            <label><input type="text" name="data[<?php echo $dir;?>][username]" class="form-control" size="30" value="<?php echo $t['username']?>" /></label>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-3 control-label">合作者身份(parterID)：</label>
                        <div class="col-md-9">
                            <label><input type="text" name="data[<?php echo $dir;?>][id]" class="form-control" size="30" value="<?php echo $t['id']?>" /></label>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-3 control-label">交易安全校验码(key)：</label>
                        <div class="col-md-9">
                            <label><input type="text" name="data[<?php echo $dir;?>][key]" size="40" class="form-control" value="<?php echo $t['key']?>" /></label>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-3 control-label">{L('显示顺序')}：</label>
                        <div class="col-md-9">
                            <label><input type="text" name="setting[order][{$dir}]" class="form-control" size="10" value="{intval($setting['order'][$dir])}" /></label>
                        </div>
                    </div>                    
                </div>
            </div>            
        </div>
    </div>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green sbold uppercase">微信</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="portlet-body form">
                    <div class="form-group">
                        <label class="col-md-3 control-label">AppId：</label>
                        <div class="col-md-9">
                            <label><input type="text" name="data[<?php echo $dir;?>][appid]"  class="form-control" size="40" value="<?php echo $t['appid']?>" /></label>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-3 control-label">AppSecret：</label>
                        <div class="col-md-9">
                            <label><input type="text" name="data[<?php echo $dir;?>][appsecret]" size="40" class="form-control" value="<?php echo $t['appsecret']?>" /></label>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-3 control-label">MCHID：</label>
                        <div class="col-md-9">
                            <label><input type="text" name="data[<?php echo $dir;?>][mchid]" size="40" class="form-control" value="<?php echo $t['mchid']?>" /></label>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-3 control-label">KEY：</label>
                        <div class="col-md-9">
                            <label><input type="text" name="data[<?php echo $dir;?>][key]" size="40" class="form-control" value="<?php echo $t['key']?>" /></label>
                        </div>
                    </div>     
                    <div class="form-group">
                        <label class="col-md-3 control-label">{L('显示顺序')}：</label>
                        <div class="col-md-9">
                            <label><input type="text" name="setting[order][{$dir}]" class="form-control" size="10" value="{intval($setting['order'][$dir])}" /></label>
                        </div>
                    </div> 
                </div>
            </div>            
        </div>
    </div>

    <div class="myfooter">
        <div class="row">
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn green"> <i class="fa fa-save"></i> {L('保存')}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{template nfooter.html}