<?php
    $month_data = $this->ci->db->select('value, inputtime')->where('status', 1)->order_by('inputtime')->get('member_paylog')->result_array();
    $month = [];
    foreach ($month_data as $v) {
        if (isset($month[dr_date($v['inputtime'], 'Y年m月')])) {
            if ($v['value'] > 0) {
                $month[dr_date($v['inputtime'], 'Y年m月')]['expenditure'] = $month[dr_date($v['inputtime'], 'Y年m月')]['expenditure'] + $v['value'];
            } else {
                $month[dr_date($v['inputtime'], 'Y年m月')]['income'] = $month[dr_date($v['inputtime'], 'Y年m月')]['income'] + $v['value'];
            }
        } else {
            if ($v['value'] > 0) {
                $month[dr_date($v['inputtime'], 'Y年m月')]['expenditure'] = $v['value'];
            } else {
                $month[dr_date($v['inputtime'], 'Y年m月')]['income'] = $v['value'];
            }
        }
    }
?>
<script>
    $(function(){
        monthChange({count($month)});
    });
    function monthChange(i) {
        min = i-5;
        max = i+6;
        for (l=1; l <= {count($month)}; l++) {
            if (min <= 0) {
                if (l > 12) {
                    $("#"+l).hide();
                } else {
                    $("#"+l).show();
                }
            } else {
                if (l<min || l>max) {
                    $("#"+l).hide();
                } else {
                    $("#"+l).show();
                }
            }
        }
    }
</script>
<div class="portlet light bordered myfbody" style="margin-top:20px;">
    <div class="portlet-title tabbable-line">
        <ul class="nav nav-tabs" style="float:left; width: 100%;">
            {php $i = 1;$li_width = 100 /12;}
            {loop $month $k $v}
            <li class="{if dr_date(SYS_TIME, 'Y年m月') == $k}active{/if}" id="{$i}" style="width: {$li_width}%; text-align: center;">
                <a href="#tab_{$i}" data-toggle="tab" onclick="monthChange({$i})"> {$k} </a>
            </li>
            {php $i = $i +1;}
            {/loop}
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            {php $j = 1;}
            {loop $month $k $v}
            <div class="tab-pane {if dr_date(SYS_TIME, 'Y年m月') == $k}active{/if}" id="tab_{$j}">
                <table class="table mtable table-nomargin table-bordered table-striped table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align:center;">{L('月入账(元)')}</th>
                        <th style="text-align:center;">{L('分销支出(元)')}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center">{php echo abs($v['income'])?:'0.00';}</td>
                            <td style="text-align:center">{$v['expenditure']?:'0.00'}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {php $j = $j +1;}
            {/loop}
        </div>
    </div>
</div>