<div class="wb-container">
	<div class="page-header">
		当前位置：<span class="text-primary">button/按钮</span>
	</div>
	<div class="page-content">
		<div class="form-group">
			<button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch" data-href=""><i class="icow icow-xiajia3"></i> 下架</button>
			<button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch-remove" data-confirm="确认要删除吗?" data-href=""><i class="icow icow-shanchu1"></i> 删除</button>
			<button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch-group" id="batchcatesbut" disabled="disabled">批量分类</button>
		</div>
		<div class="form-group">
			<a class="btn btn-op btn-operation" href="https://www.mutaoinc.net/"><span data-toggle="tooltip" data-placement="top" title="" data-original-title="编辑">
			<i class="icow icow-bianji2"></i>
			</span>
			</a>
			<a class="btn btn-op btn-operation" data-toggle="ajaxRemove" href="javascript:void(0);" data-confirm="确认彻底删除此商品？"><span data-toggle="tooltip" data-placement="top" title="" data-original-title="删除">
			<i class="icow icow-shanchu1"></i>
			</span>
			</a>
		</div>
		<div class="form-group">
			<a class="btn btn-sm btn-primary" href="javascript:"><i class="fa fa-plus"></i> 添加商品</a>
			<a class="btn btn-sm btn-primary" href="javascript:"><i class="fa fa-plus"></i> 快速添加商品</a>
			<a class="btn btn-sm btn-primary" href="javascript:"><i class="fa fa-plus"></i> 导入商品</a>
		</div>
		<div class="form-group">
		    {loop $size $t}
		    <a class="btn btn-{$t} btn-primary">btn-{$t}</a>
		    {/loop}
		</div>
		<div class="form-group">
		    {loop $color $t}
		    <a class="btn btn-{$t}">btn-{$t}</a>
		    {/loop}
		</div>
		<div class="form-group">
		    {loop $color $t}
		    <a class="btn btn-{$t}-o">btn-{$t}-o</a>
		    {/loop}
		</div>
	</div>
</div>
