<div class="wb-container">
	<div class="page-header">
		当前位置：<span class="text-primary">container/容器</span>
	</div>
	<div class="page-content">
        <div class="form-group-title">panel</div>
        {loop $color $t}
        <div class="panel panel-{$t}">
            <div class="panel-heading">panel-heading</div>
        	<div class="panel-body">
        		<div class="col-sm-9 col-xs-12">
        			<h4 class="set_title">panel-body</h4>
        			<span>开启后，粉丝可以用账户余额去商城消费.</span>
        		</div>
        		<div class="col-lg pull-right" style="padding-top:10px;text-align: right">
        			<input type="checkbox" class="js-switch" name="data[credit]" value="1" checked="" style="display: none;">
        		</div>
        	</div>
        	<div class="panel-footer">
        	    panel-footer
        	</div>
        </div>
		{/loop}
		<div class="form-group-title">alert</div>
		{loop $color $t}
		<div class="alert alert-{$t}">
			<p>
				alert-{$t}:
			</p>
			<p>
				1. 不开启WAP只能在微信环境打开，开启WAP后可以从非微信浏览器打开(任何浏览器)，可用手机号码作为登录凭证
			</p>
		</div>
		{/loop}
	</div>
</div>