<div class="page-container">
	<div class="page-header">
		当前位置：<span class="text-primary">global/全局属性</span>
	</div>
	<div class="page-content">
	    <div class="form-group-title">颜色</div>
		{loop $color $t}
		<div class="help-block text-{$t}">
			text-{$t}
		</div>
		{/loop}
		<div class="form-group-title">尺寸</div>
		<code>
            .col-xs- 超小屏幕 手机 (<768px)<br>
            .col-sm- 小屏幕 平板 (≥768px)<br>
            .col-md- 中等屏幕 桌面显示器 (≥992px)<br>
            .col-lg- 大屏幕 大桌面显示器 (≥1200px)<br>
		</code>
	</div>
</div>