{template "head.html"}
<body>
{template "global.html"}
{template "layout.html"}
{template "button.html"}
{template "text.html"}
{template "tab.html"}
{template "table.html"}
{template "form.html"}
{template "container.html"}
{template "toggle.html"}
<script>
    require(['base', 'table', 'tip'], function () {
        $('[data-toggle="tooltip"]').tooltip("destroy").tooltip({
            container: $(document.body)
        });
        $('[data-toggle="popover"]').popover("destroy").popover({
            container: $(document.body)
        });
    });
</script>
</body>
</html>