<div class="wb-container">
	<div class="page-header">
		当前位置：<span class="text-primary">layout/布局</span>
	</div>
	<div class="page-content">
	    <div class="form-group-title">浮动</div>
	    <div class="row">
	        <a class="btn btn-default pull-left">pull-left</a>
	        <a class="btn btn-default pull-right">pull-right</a>
	    </div>
	    <div class="flex-wrap">
	        <div class="flex-item"></div>
	    </div>
		<div class="form-group-title">栅格</div>
		<div class="row">
		{loop $size $t}
		<div class="col-{$t} border">{$t}</div>
		{/loop}
		</div>
		<div class="row">
		{loop $num $t}
		<div class="col-sm-{$t} border">col-{$t}</div>
		{/loop}		    
		</div>
	</div>
</div>
