<div class="wb-container">
	<div class="page-header">
		当前位置：<span class="text-primary">tab/标签</span>
	</div>
	<div class="page-content">
        <div class="page-sub-toolbar">
        	<span class="">
        	<a class="btn btn-primary btn-sm" href="#">添加商品</a>
        	<a class="btn btn-primary btn-sm" href="#">快速添加商品</a>
        	</span>
        </div>
        <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data" novalidate="novalidate">
        	<div class="tabs-container">
        		<ul class="nav nav-tabs" id="myTab">
        			<li class="active"><a href="#tab_basic" data-toggle="tab">基本设置</a></li>
        			<li><a href="#tab_style" data-toggle="tab">样式设置</a></li>
        		</ul>
        		<div class="tab-content ">
        			<div class="tab-pane active" id="tab_basic">
        			    <div class="panel-body">
        			        <div class="region-goods-details row">
        			            <div class="region-goods-left col-sm-2">
                                    基本信息
                                </div>
                                <div class="region-goods-right col-sm-10">
                                	<div class="form-group">
                                		<label class="col-sm-2 control-label">排序</label>
                                		<div class="col-sm-9 col-xs-12">
                                			<input type="text" name="displayorder" class="form-control" value="0">
                                			<span class="help-block">数字越大，排名越靠前,如果为空，默认排序方式为创建时间</span>
                                		</div>
                                	</div>
                                </div>
        			        </div>
        			    </div>
        			</div>
        			<div class="tab-pane "id="tab_style">
        				<div class="panel-body">
        		
        			    </div>
        			</div>
        		</div>
        	</div>
        </form>
	</div>
</div>