<div class="wb-container">
	<div class="page-header">
		当前位置：<span class="text-primary">toggle</span>
	</div>
	<div class="page-content">
        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" data-original-title="提示语">tooltip</a>
		<a href="javascript:void(0);" class="btn btn-op btn-operation js-clip" data-url="https://www.mutaoinc.net/">
		    <span>
    		    <i class="icow icow-lianjie2"></i>复制链接
    		</span>
		</a>
	    <a href="javascript:void(0);" class="btn btn-default btn-sm" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<img src='https://weixin.mutaoinc.cn/addons/ewei_shopv2/data/qrcode/5/5f18f710d0b37c9649071df5f5598f54.jpg' width='130' alt='链接二维码'>" data-placement="auto right"><i class="glyphicon glyphicon-qrcode"></i></a>
		<div class="form-group">
		    <a class="btn btn-primary" data-toggle="ajaxModal" data-url="http://poscms.demo.mutaoinc.net:8090/admin.php?s=ui&c=ui">ajaxModal</a>
		</div>
		<div class="form-group-title">提示框</div>
		<div class="form-group">
		    <a class="btn btn-primary" data-toggle="event" data-event="alert">alert</a>
		    <a class="btn btn-primary" data-toggle="event" data-event="confirm">alert</a>
		</div>
	</div>
</div>