{template nheader.html}


<form class="form-horizontal" action="" method="post" id="myform" name="myform">
    <div class="page-bar">
        <ul class="page-breadcrumb mylink">
            {$menu2.link}
        </ul>
        <ul class="page-breadcrumb myname">
            {$menu2.name}
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {L('操作菜单')}
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    {loop $menu2.quick $t}
                    <li>
                        <a href="{$t.url}">{$t.icon} {$t.name}</a>
                    </li>
                    {/loop}
                    <li class="divider"> </li>
                    <li>
                        <a href="javascript:window.location.reload();">
                            <i class="icon-refresh"></i> {L('刷新页面')}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h3 class="page-title">
        <small>当前数据表: {$tableinfo[$table]['name']}</small>
    </h3>
    <div class="portlet light bordered ">

        <div class="portlet-body">


                    <div class="table-scrollable v3table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="20" align="right"></th>
                                <th width="120">{L('字段名')}</th>
                                <th width="180">{L('显示名')}</th>
                                <th class="dr_option">{L('格式化函数')}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {loop $tableinfo[$table]['field'] $i $t}
                            <tr>
                                <td align="right"><input name="ids[]" type="checkbox" checked class="dr_select toggle md-check" value="{$i}" /></td>
                                <td>{$t.name}</td>
                                <td><label><input type="text" placeholder="在Excel中显示的名称" class="form-control" value="{$t.note}" name="data[{$i}][name]"></label></td>
                                <td class="dr_option"><input type="text" class="form-control" placeholder="用于格式化值,例如时间\文件\图片格式化等" value="" name="data[{$i}][func]"></td>
                            </tr>
                            {/loop}
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">{L('最大导出数据量')}：</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="total" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">{L('自定义导出条件')}：</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="where" >
                            <span class="help-block">{L('可支持sql条件组装, 例如 catid=1表示查询栏目1的内容')}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-9">
                            <span class="help-block"><button type="submit" class="btn green"> <i class="fa fa-save"></i> {L('立即导出选中字段')}</button></span>
                        </div>
                    </div>


        </div>
    </div>


</form>
{template nfooter.html}