{template nheader.html}

<script>
    function gogo(v) {
        window.location.href = '{dr_url(APP_DIR.'/excel/import')}&table='+v;
    }
</script>
<form class="form-horizontal" action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
    <div class="page-bar">
        <ul class="page-breadcrumb mylink">
            {$menu2.link}
        </ul>
        <ul class="page-breadcrumb myname">
            {$menu2.name}
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {L('操作菜单')}
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    {loop $menu2.quick $t}
                    <li>
                        <a href="{$t.url}">{$t.icon} {$t.name}</a>
                    </li>
                    {/loop}
                    <li class="divider"> </li>
                    <li>
                        <a href="javascript:window.location.reload();">
                            <i class="icon-refresh"></i> {L('刷新页面')}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h3 class="page-title">
        <small></small>
    </h3>
    <div class="portlet light bordered ">

        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green sbold uppercase">{L('选择导入的表')}</span>
            </div>
        </div>
        <div class="portlet-body">

            <div class="row">
                <div class="portlet-body form">

                    <div class="form-group">
                        <label class="col-md-2 control-label">选择表: </label>
                        <div class="col-md-9">
                            <label>
                                <select name="table" onchange="gogo(this.value)" class="form-control">
                                    <option value=""> -- </option>
                                    {loop $tableinfo $t}
                                    <option {if $table==$t.name} selected{/if} value="{$t.name}">{$t.name} ({php echo $t.note ? $t.note : $t.name})</option>
                                    {/loop}
                                    </select>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">上传excel文件: </label>
                        <div class="col-md-9">
                            <label>
                                <input type="file" name="file" id="file" />
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">{L('导入工作表的序列号')}：</label>
                        <div class="col-md-9">
                            <label><input class="form-control" type="text" value="1" name="data[id]" placeholder="默认1" ></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">{L('数据从第几行开始导入')}：</label>
                        <div class="col-md-9">
                            <label> <input class="form-control" type="text" value="1" name="data[ks]" placeholder="默认1" ></label>
                        </div>
                    </div>

                    <div class="table-scrollable v3table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="20" align="right">不能为空</th>
                                <th width="120">{L('字段名')}</th>
                                <th width="180">{L('Excel编号')}</th>
                                <th class="dr_option">{L('格式化函数')}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {loop $tableinfo[$table]['field'] $i $t}
                            <tr>
                                <td align="right"><input name="ids[]" type="checkbox" checked class="dr_select toggle md-check" value="{$i}" /></td>
                                <td>{$t.name}</td>
                                <td>
                                    <label>
                                        <select class="form-control" name="data[{$i}][excel]">
                                            <option value=""> 不导入 </option>
                                            {loop $abcd $ii}
                                            <option value="{$ii}"> {$ii} </option>
                                            {/loop}
                                        </select>
                                    </label>
                                </td>
                                <td class="dr_option"><input type="text" class="form-control" placeholder="用于格式化值,例如时间\文件\图片格式化等" value="" name="data[{$i}][func]"></td>
                            </tr>
                            {/loop}
                            </tbody>
                        </table>
                    </div>


                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-9">
                            <span class="help-block"><button type="submit" class="btn green"> <i class="fa fa-save"></i> {L('下一步')}</button></span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</form>
{template nfooter.html}