{template nheader.html}
<script type="application/javascript">
	$(function(){
		dr_set_value({intval($i)});
	});
	function dr_set_value(i) {
		$('.dvalue').hide();
		$('#dr_html_'+i).show();
	}
</script>
<style>
	#remuneration {
		width: 90px;
		margin-bottom: 5px;
		position: absolute;
		top: 0;
		pointer-events: none;
		background-color:transparent;
		padding-left: 45%;
		color: #999999;
	}
</style>
<form class="form-horizontal" action="" method="post" id="myform" name="myform">
	<div class="page-bar">
		<ul class="page-breadcrumb mylink">
			{$menu.link}

		</ul>
		<ul class="page-breadcrumb myname">
			{$menu.name}
		</ul>
		<div class="page-toolbar">
			<div class="btn-group pull-right">
				<button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {L('操作菜单')}
					<i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu pull-right" role="menu">
					{loop $menu.quick $t}
					<li>
						<a href="{$t.url}">{$t.icon} {$t.name}</a>
					</li>
					{/loop}
					<li class="divider"> </li>
					<li>
						<a href="javascript:window.location.reload();">
							<i class="icon-refresh"></i> {L('刷新页面')}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<h3 class="page-title">
		<small>{L('自定义内容用于存储一小段信息，各个页面能够灵活的调用')}</small>
	</h3>
	<div class="portlet light bordered myfbody">

		<div class="portlet-title">
			<div class="caption">
				<span class="caption-subject font-green sbold uppercase">{L('自定义内容')}</span>
			</div>
		</div>
		<div class="portlet-body">

			<div class="row">
				<div class="portlet-body form">

					<div class="form-group">
						<label class="col-md-2 control-label">{L('名称')}：</label>
						<div class="col-md-9">
							{dr_field_input('name', 'Text', $field['name']['setting'], $data['name'])}
							<span class="help-block">{L('描述名称')}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">{L('别名')}：</label>
						<div class="col-md-9">
							{if $data['code']}
							<input class="form-control" type="text" name="data[code]" id="dr_code" value="{$data['code']}" style="width:200px;" required="required" readonly>
							{else}
							{dr_field_input('code', 'Text', $field['code']['setting'], $data['code'])}
							{/if}
							<span class="help-block">{L('调用名称，由字母或数字组成，不得重复，不可修改')}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" style="padding-top: 10px;">{L('类型')}：</label>
						<div class="col-md-9">
							<div class="radio-list">
								{loop $type $i $name}
								<label class="radio-inline"><input onclick="dr_set_value({$i})" {if $i==$data.i}checked{/if} name="type" type="radio" value="{$i}" /> {$name}</label>
								{/loop}
							</div>
						</div>
					</div>
					<div class="form-group dvalue" id="dr_html_1">
						{if in_array($_GET['id'], ['49', 50])}
						<label class="col-md-2 control-label">{L('%s = 分销总金额 ×', $data['name'])}</label>
						<div class="col-md-9">
						<table>
							<tbody>
							<tr>
								<td>
									<div style="position: relative;">
									<input class="form-control" type="number" min="0" step="0.01" name="data[value_1]" id="dr_value_1" value="{$data['value_1']}" style="width:90px; margin-bottom: 5px;" required="required">
									<div class="form-control" id="remuneration"> % </div>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
						</div>
						{else}
						<label class="col-md-2 control-label">{L('内容')}：</label>
						<div class="col-md-9" style="padding-top:8px;">
						{dr_field_input('value_1', 'Textarea', $field['value_1']['setting'], $data['value_1'])}
						</div>
						{/if}
					</div>
					<div class="form-group dvalue" id="dr_html_2">
						<label class="col-md-2 control-label">{L('内容')}：</label>
						<div class="col-md-9" style="padding-top:8px;">
							{dr_field_input('value_2', 'Ueditor', $field['value_2']['setting'], $data['value_2'])}
						</div>
					</div>
					<div class="form-group dvalue" id="dr_html_3">
						<label class="col-md-2 control-label">{L('内容')}：</label>
						<div class="col-md-9" style="padding-top:3px;">
							{dr_field_input('value_3', 'File', $field['value_3']['setting'], $data['value_3'])}
						</div>
					</div>
					<div class="form-group dvalue" id="dr_html_4">
						<label class="col-md-2 control-label">{L('内容')}：</label>
						<div class="col-md-9" style="padding-top:2px;">
							{dr_field_input('value_4', 'Files', $field['value_4']['setting'], $data['value_4'])}
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="myfooter">
		<div class="row">
			<div class="portlet-body form">
				<div class="form-body">
					<div class="form-actions">
						<div class="row">
							<div class="col-md-12 text-center">
								<button type="submit" class="btn green"> <i class="fa fa-save"></i> {L('保存')}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{template nfooter.html}