{template nheader.html}
<script type="text/javascript">
$(function() {
	{if $error}
	dr_tips('<font color=red>{$error.msg}</font>', 3);
	d_tips('{$error.error}', 0);
	{/if}
	
});
</script>
<form class="form-horizontal" action="" method="post" id="myform" name="myform">
    <div class="page-bar">
        <ul class="page-breadcrumb mylink">
            {$menu.link}
        </ul>
        <ul class="page-breadcrumb myname">
            {$menu.name}
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {L('操作菜单')}
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    {loop $menu.quick $t}
                    <li>
                        <a href="{$t.url}">{$t.icon} {$t.name}</a>
                    </li>
                    {/loop}
                    <li class="divider"> </li>
                    <li>
                        <a href="javascript:window.location.reload();">
                            <i class="icon-refresh"></i> {L('刷新页面')}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h3 class="page-title">
        <small></small>
    </h3>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green sbold ">{L('修改内容')}</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{L('分类')}：</label>
                    <div class="col-md-9">
                        <label>{$select}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{L('名称')}：</label>
                    <div class="col-md-9">
                        <label><input type="text" class="form-control" name="edit[name]" value="{$data['name']}" id="dr_name" onblur="d_topinyin('cname','name');"></label>
                        <span class="help-block"> {L('给它一个描述名称')} </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{L('别名')}：</label>
                    <div class="col-md-9">
                        <label><input type="text" class="form-control" name="edit[cname]" value="{$data['cname']}" id="dr_cname"></label>
                        <span class="help-block"> {L('只能由英文字母、数字组成')} </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{L('排序值')}：</label>
                    <div class="col-md-9">
                        <label><input type="text" class="form-control" name="edit[displayorder]" value="{$data['displayorder']}"></label>
                    </div>
                </div>
                {$myfield}

            </div>
        </div>
    </div>



    <div class="myfooter">
        <div class="row">
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn green"> <i class="fa fa-save"></i> {L('保存')}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{template nfooter.html}