{template nheader.html}
<script type="text/javascript">
$(function() {
	{if $result}
	dr_tips('{L('操作成功，正在刷新...')}', 3, 1);
	{/if}
});
</script>

<form class="form-horizontal" action="" method="post" id="myform" name="myform">
	<input name="page" id="mypage" type="hidden" value="{$page}" />
	<div class="page-bar">
		<ul class="page-breadcrumb mylink">
			{$menu.link}

		</ul>
		<ul class="page-breadcrumb myname">
			{$menu.name}
		</ul>
		<div class="page-toolbar">
			<div class="btn-group pull-right">
				<button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {L('操作菜单')}
					<i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu pull-right" role="menu">
					{loop $menu.quick $t}
					<li>
						<a href="{$t.url}">{$t.icon} {$t.name}</a>
					</li>
					{/loop}
					<li class="divider"> </li>
					<li>
						<a href="javascript:window.location.reload();">
							<i class="icon-refresh"></i> {L('刷新页面')}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<h3 class="page-title">
		<small></small>
	</h3>

	<div class="portlet light bordered myfbody">
		<div class="portlet-title tabbable-line">
			<ul class="nav nav-tabs" style="float:left;">
				<li class="{if $page==0}active{/if}">
					<a href="#tab_0" data-toggle="tab" onclick="$('#mypage').val('0')"> <i class="fa fa-cog"></i> {L('基本设置')} </a>
				</li>
				<li class="{if $page==1}active{/if}">
					<a href="#tab_1" data-toggle="tab" onclick="$('#mypage').val('1')"> <i class="fa fa-reorder"></i> {L('绑定域名')} </a>
				</li>
				<li class="{if $page==2}active{/if}">
					<a href="#tab_2" data-toggle="tab" onclick="$('#mypage').val('2')"> <i class="fa fa-user-plus"></i> {L('注册设置')} </a>
				</li>
				<li class="{if $page==3}active{/if}">
					<a href="#tab_3" data-toggle="tab" onclick="$('#mypage').val('3')"> <i class="fa fa-chevron-circle-right"></i> {L('登录设置')} </a>
				</li>
				<li class="{if $page==5}active{/if}">
					<a href="#tab_5" data-toggle="tab" onclick="$('#mypage').val('5')"> <i class="fa fa-tasks"></i> {L('字段格式')} </a>
				</li>
			</ul>
		</div>
		<div class="portlet-body">
			<div class="tab-content">

				<div class="tab-pane  {if $page==0}active{/if}" id="tab_0">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-2 control-label">{L('会员中心分页数量')}：</label>
							<div class="col-md-9">
								<label><input class="form-control" type="text" name="data[pagesize]" value="{$data['pagesize']}" ></label>
								<span class="help-block">{L('会员中心数据每页显示数量')}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane  {if $page==1}active{/if}" id="tab_1">
					<div class="form-body">

						{loop $ci->site_info $sid $t}
						<div class="form-group">
							<label class="col-md-2 control-label">{dr_strcut($t['SITE_NAME'], 25)}：</label>
							<div class="col-md-9">
								<label><input class="form-control" type="text" name="data[domain][{$sid}]" value="{$data['domain'][$sid]}" ></label>

								{if $data['domain'][$sid]}
								{if $data['domain'][$sid] == SITE_DOMAIN}
								<span class="help-block">{L('此域名【%s】不能与当前站点域名相同', $data['domain'][$sid])}</span>
								{else}
								<script>
									$.get("{dr_url('home/domain', array('domain' => $data['domain'][$sid]))}", function(data){
										if (data) {
											$("#dr_domian_{$sid}").html(data);
										} else {
											$("#dr_domian_{$sid}").hide();
										}
									});
								</script>
								<span id="dr_domian_{$sid}" class="help-block"></span>
								{/if}
								{else}
								<span class="help-block">{L('域名格式：i.imtcms.com')}</span>
								{/if}
							</div>
						</div>
						{/loop}
						<div class="form-group">
							<label class="col-md-2 control-label">{L('URL规则')}：</label>
							<div class="col-md-9">
								<label>
									<select class="form-control" name="data[urlrule]">
										<option value="0"> -- </option>
										{list action=cache name=urlrule return=u}
										{if $u.type==6}<option value="{$u.id}" {if $u.id==$data['urlrule']}selected{/if}> {$u.name} </option>{/if}
										{/list}
									</select>
								</label>
								<label>&nbsp;&nbsp;<a href="{dr_url('urlrule/index')}" style="color:blue !important">{L('[URL规则管理]')}</a></label>
							</div>
						</div>

					</div>
				</div>

				<div class="tab-pane  {if $page==2}active{/if}" id="tab_2">
					<div class="form-body">


						<div class="form-group">
							<label class="col-md-2 control-label">{L('会员注册')}：</label>
							<div class="col-md-9">
								<input type="checkbox" name="data[register]" value="1" {if $data['register']}checked{/if} data-on-text="{L('开启')}" data-off-text="{L('关闭')}" data-on-color="success" data-off-color="danger" class="make-switch" data-size="small">

							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">{L('注册验证码')}：</label>
							<div class="col-md-9">
								<input type="checkbox" name="data[regcode]" value="1" {if $data['regcode']}checked{/if} data-on-text="{L('开启')}" data-off-text="{L('关闭')}" data-on-color="success" data-off-color="danger" class="make-switch" data-size="small">

							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">{L('注册字段选择')}：</label>
							<div class="col-md-9">
								<div class="checkbox-list">
									<label class="checkbox-inline"><input type="checkbox" name="data[regfield][]" value="username" {if @in_array('username', $data.regfield)} checked{/if} /> {L('账号')}</label>
									<label class="checkbox-inline"><input type="checkbox" name="data[regfield][]" value="phone" {if @in_array('phone', $data.regfield)} checked{/if} /> {L('手机号')}</label>
									<label class="checkbox-inline"><input type="checkbox" name="data[regfield][]" value="email" {if @in_array('email', $data.regfield)} checked{/if} /> {L('邮箱')}</label>
								</div>
								<span class="help-block">{L('至少选择一个字段或多个字段组合')}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">{L('新会员审核')}：</label>
							<div class="col-md-9">
								<div class="radio-list">
									<label class="radio-inline"><input type="radio" name="data[regverify]" value="1" {dr_set_radio('regverify', $data['regverify'], '1')} /> {L('邮件')}</label>
									<label class="radio-inline"><input type="radio" name="data[regverify]" value="2" {dr_set_radio('regverify', $data['regverify'], '2')} /> {L('人工')}</label>
									<label class="radio-inline"><input type="radio" name="data[regverify]" value="0" {dr_set_radio('regverify', $data['regverify'], '0', TRUE)} /> {L('关闭')}</label>
								</div>
								<span class="help-block">{L('若使用手机验证码必须选择手机注册模式')}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">{L('同一IP注册间隔限制')}：</label>
							<div class="col-md-9">
								<label><input class="form-control" type="text" name="data[regiptime]" value="{$data['regiptime']}" ></label>
								<span class="help-block">{L('单位小时')}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">{L('会员名规则（正则）')}：</label>
							<div class="col-md-9">
								<label><input class="form-control" type="text" name="data[regnamerule]" id="dr_regnamerule" value="{$data.regnamerule}"/></label>
									<label><select class="form-control" onchange="javascript:$('#dr_regnamerule').val(this.value)" name="pattern_select">
									<option value="">{L('正则验证')}</option>
									<option value="/.*/">{L('不限制')}</option>
									<option value="/^[0-9.-]+$/">{L('数字')}</option>
									<option value="/^[0-9-]+$/">{L('整数')}</option>
									<option value="/^[a-z]+$/i">{L('字母')}</option>
									<option value="/^[0-9a-z]+$/i">{L('数字+字母')}</option>
									<option value="/^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/">E-mail</option>
									<option value="/^[0-9]{5,20}$/">QQ</option>
									<option value="/^(1)[0-9]{10}$/">{L('手机号码')}</option>
									<option value="/^[0-9-]{6,13}$/">{L('电话号码')}</option>
									<option value="/^[0-9]{6}$/">{L('邮政编码')}</option>
								</select></label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">{L('不允许注册的会员名')}：</label>
							<div class="col-md-9">
								<input class="form-control" type="text" name="data[regnotallow]" value="{$data['regnotallow']}" >
								<span class="help-block">{L('多个会员名以分号“,”分隔')}</span>
							</div>
						</div>

					</div>
				</div>

				<div class="tab-pane  {if $page==3}active{/if}" id="tab_3">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-2 control-label">{L('登录验证码')}：</label>
							<div class="col-md-9">
								<input type="checkbox" name="data[logincode]" value="1" {if $data['logincode']}checked{/if} data-on-text="{L('开启')}" data-off-text="{L('关闭')}" data-on-color="success" data-off-color="danger" class="make-switch" data-size="small">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">{L('快捷登陆模式')}：</label>
							<div class="col-md-9">
								<input type="checkbox" name="data[regoauth]" value="1" {if $data['regoauth']}checked{/if} data-on-text="{L('直接注册')}" data-off-text="{L('绑定账号')}" data-on-color="success" data-off-color="danger" class="make-switch" data-size="small">
								<span class="help-block">{L('绑定账号指必须注册一个本站账号；直接注册指用登录者的昵称直接注册本站账号')}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">{L('默认登录超时时间')}：</label>
							<div class="col-md-9">
								<label><input class="form-control" type="text" name="data[loginexpire]" value="{php echo $data['loginexpire'] ? $data['loginexpire'] : 86400;}" ></label>
								<span class="help-block">{L('单位秒，默认为86400秒，超时之后自动退出账号')}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane  {if $page==5}active{/if}" id="tab_5">
					<div class="form-body">


						<div class="form-group">
							<label class="col-md-2 control-label">{L('PC端格式')}：</label>
							<div class="col-md-9">
								<textarea  style="height:100px" class="form-control" name="data[field]">{$data.field}</textarea>

							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">{L('移动端格式')}：</label>
							<div class="col-md-9">
								<textarea  style="height:100px" class="form-control" name="data[mbfield]">{$data.mbfield}</textarea>

							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">{L('合并字段PC端格式')}：</label>
							<div class="col-md-9">
								<textarea  style="height:100px" class="form-control" name="data[mergefield]">{$data.mergefield}</textarea>

							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">{L('合并字段移动端格式')}：</label>
							<div class="col-md-9">
								<textarea  style="height:100px" class="form-control" name="data[mbmergefield]">{$data.mbmergefield}</textarea>

								<span class="help-block">{L('字段英文名称：{name}；字段中文名称：{text}；表单显示：{value}<br>此格式用于定义会员中心的所有自定义字段输出格式，如资料修改、文章发布/修改等')}</span>
							</div>
						</div>

					</div>
				</div>


			</div>
		</div>
	</div>

	<div class="myfooter">
		<div class="row">
			<div class="portlet-body form">
				<div class="form-body">
					<div class="form-actions">
						<div class="row">
							<div class="col-md-12 text-center">
								<button type="submit" class="btn green"> <i class="fa fa-save"></i> {L('保存')}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{template footer.html}