{template nheader.html}
<form class="form-horizontal" action="" method="post" id="myform" name="myform">
    <input name="page" id="page" type="hidden" value="{$page}" />
    <div class="page-bar">
        <ul class="page-breadcrumb mylink">
            {$menu.link}
        </ul>
        <ul class="page-breadcrumb myname">
            {$menu.name}
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {L('操作菜单')}
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    {loop $menu.quick $t}
                    <li>
                        <a href="{$t.url}">{$t.icon} {$t.name}</a>
                    </li>
                    {/loop}
                    <li class="divider"> </li>
                    <li>
                        <a href="javascript:window.location.reload();">
                            <i class="icon-refresh"></i> {L('刷新页面')}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h3 class="page-title">
        <small>{$note}</small>
    </h3>
    <div style="margin-bottom: 70px">

        {loop $list $name $text}
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase">{$text}</span>
                </div>
            </div>
            <input name="data[1][id]" type="hidden" value="1" />
            <input name="data[1][name]" type="hidden" value="{L('货到付款')}" />
            <div class="portlet-body">
                <table width="100%" class="table_form">
                    <tr>
                        <th width="100">短信内容：</th>
                        <td>
                            <input class="input-text" type="text" name="data[{$name}][phone]" value="{$data[$name]['phone']}" style="width:100%;">
                        </td>
                    </tr>
                    <tr class="dr_border_none">
                        <th>邮件内容：</th>
                        <td>
                            <textarea name="data[{$name}][email]" style="width:100%; height:200px;margin-top:10px;">{$data[$name]['email']}</textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {/loop}

    </div>
    <div class="myfooter">
        <div class="row">
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn green"> <i class="fa fa-save"></i> {L('保存')}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{template nfooter.html}