{template nheader.html}
<div class="page-bar">
    <ul class="page-breadcrumb mylink">
        {$menu.link}
    </ul>
    <ul class="page-breadcrumb myname">
        {$menu.name}
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {L('操作菜单')}
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                {loop $menu.quick $t}
                <li>
                    <a href="{$t.url}">{$t.icon} {$t.name}</a>
                </li>
                {/loop}
                <li class="divider"> </li>
                <li>
                    <a href="javascript:window.location.reload();">
                        <i class="icon-refresh"></i> {L('刷新页面')}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3 class="page-title">
    <small></small>
</h3>
<form action="" class="form-horizontal" method="post" name="myform" id="myform">
    <input name="page" id="page" type="hidden" value="{$page}" />
    <div class="portlet light bordered myfbody">
        <div class="portlet-title tabbable-line">
            <ul class="nav nav-tabs" style="float:left;">
                <li class="{if $page==0}active{/if}">
                    <a href="#tab_0" data-toggle="tab" onclick="$('#page').val('0')"> <i class="fa fa-cog"></i> {L('订单配置')} </a>
                </li>
                <li class="{if $page==1}active{/if}">
                    <a href="#tab_1" data-toggle="tab" onclick="$('#page').val('1')"> <i class="fa fa-internet-explorer"></i> {L('SEO设置')} </a>
                </li>
                <li class="{if $page==2}active{/if}">
                    <a href="#tab_2" data-toggle="tab" onclick="$('#page').val('2')"> <i class="fa fa-truck"></i> {L('快递接口')} </a>
                </li>
            </ul>
        </div>
        <div class="portlet-body">
            <div class="tab-content">

                <div class="tab-pane {if $page==0}active{/if}" id="tab_0">

                    <div class="form-group">
                        <label class="col-md-2 control-label">{L('订单号前缀')}：</label>
                        <div class="col-md-9">
                            <label><input class="form-control" type="text" name="data[sn]" value="{$data['sn']}"></label>
                            <span class="help-block">{L('指订单流水号的前缀部分，例如：<font color=red>FC</font>20150824853257783')}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">{L('订单失效时间')}：</label>
                        <div class="col-md-9">
                            <label><input class="form-control" type="text" name="data[otime]" value="{$data['otime']}"></label>
                            <span class="help-block">{L('单位小时，从下单开始超过有效时间的订单将自动失效，留空则永不失效')}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">{L('关闭订单选项')}：</label>
                        <div class="col-md-9">
                            <textarea class="form-control" style="height:100px" name="data[close]">{$data['close']}</textarea>
                            <span class="help-block">{L('指关闭订单时可供用户选择的选项理由，多个选项回车分隔')}</span>
                        </div>
                    </div>
                </div>

                <div class="tab-pane {if $page==1}active{/if}" id="tab_1">

                    <div class="form-group">
                        <label class="col-md-2 control-label">{L('购物车页')}：</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="data[cart_title]" value="{$data['cart_title']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">{L('订单结算页')}：</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="data[order_title]" value="{$data['order_title']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">{L('付款结算页')}：</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="data[buy_title]" value="{$data['buy_title']}">
                        </div>
                    </div>
                </div>

                <div class="tab-pane {if $page==2}active{/if}" id="tab_2">
                    <div class="form-group">
                        <label class="col-md-2 control-label">KEY：</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="data[id]" value="{$data['id']}">
                            <span class="help-block"><a href="http://www.kuaidi100.com/openapi/" target="_blank" style="color:#00F">快递查询API申请方式</a></span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="myfooter">
        <div class="row">
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn green"> <i class="fa fa-save"></i> {L('保存')}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{template nfooter.html}