{template nheader.html}
<script type="text/javascript">
$(function() {
	{if IS_POST}
	dr_tips('{L("操作成功")}', 3, 1);
    {/if}
    $("#dr_review_option").sortable();
});
</script>
<form class="form-horizontal" action="" method="post" id="myform" name="myform">
<input name="page" id="page" type="hidden" value="{$page}" />
    <div class="page-bar">
        <ul class="page-breadcrumb mylink">
            {$menu.link}

        </ul>
        <ul class="page-breadcrumb myname">
            {$menu.name}
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {L('操作菜单')}
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    {loop $menu.quick $t}
                    <li>
                        <a href="{$t.url}">{$t.icon} {$t.name}</a>
                    </li>
                    {/loop}
                    <li class="divider"> </li>
                    <li>
                        <a href="javascript:window.location.reload();">
                            <i class="icon-refresh"></i> {L('刷新页面')}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <h3 class="page-title">
        <small></small>
    </h3>

    <div class="portlet light bordered myfbody">
        <div class="portlet-title tabbable-line">
            <ul class="nav nav-tabs" style="float:left;">
                <li class="active">
                    <a href="#tab_0" data-toggle="tab"> <i class="fa fa-cog"></i> {L('评论配置')} </a>
                </li>
                <li class="">
                    <a href="#tab_1" data-toggle="tab"> <i class="fa fa-user"></i> {L('会员权限')} </a>
                </li>
                <li class="">
                    <a href="#tab_2" data-toggle="tab"> <i class="fa fa-cubes"></i> {L('字段格式')} </a>
                </li>
                <li class="">
                    <a href="#tab_4" data-toggle="tab"> <i class="fa fa-location-arrow"></i> {L('优化设置')} </a>
                </li>
                {if $mycfg}
                <li class="">
                    <a href="#tab_5" data-toggle="tab"> <i class="fa fa-cog"></i> {L('我的配置')} </a>
                </li>
                {/if}
            </ul>
        </div>
        <div class="portlet-body">
            <div class="tab-content">

                <div class="tab-pane active" id="tab_0">
                    <div class="form-body">
                        <div class="form-group">
                        <label class="col-md-2 control-label" style="padding-top: 10px;">{L('评论功能')}：</label>
                        <div class="col-md-9">
                            <div class="radio-list">
                                <label class="radio-inline"><input type="radio" name="data[use]" value="1" {if $data['use']}checked{/if} /> {L('是')}</label>
                                <label class="radio-inline"><input type="radio" name="data[use]" value="0" {if !$data['use']}checked{/if} /> {L('否')}</label>
                            </div>
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="padding-top: 10px;">{L('评论审核')}：</label>
                            <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="radio-inline"><input type="radio" name="data[verify]" value="1" {if $data['verify']}checked{/if} /> {L('是')}</label>
                                    <label class="radio-inline"><input type="radio" name="data[verify]" value="0" {if !$data['verify']}checked{/if} /> {L('否')}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="padding-top: 10px;">{L('只允许评论一次')}：</label>
                            <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="radio-inline"><input type="radio" name="data[num]" value="1" {if $data['num']}checked{/if} /> {L('是')}</label>
                                    <label class="radio-inline"><input type="radio" name="data[num]" value="0" {if !$data['num']}checked{/if} /> {L('否')}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="padding-top: 10px;">{L('禁止对自己评论')}：</label>
                            <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="radio-inline"><input type="radio" name="data[my]" value="1" {if $data['my']}checked{/if} /> {L('是')}</label>
                                    <label class="radio-inline"><input type="radio" name="data[my]" value="0" {if !$data['my']}checked{/if} /> {L('否')}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="padding-top: 10px;">{L('购买之后才允许评论')}：</label>
                            <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="radio-inline"><input type="radio" name="data[buy]" value="1" {if $data['buy']}checked{/if} /> {L('是')}</label>
                                    <label class="radio-inline"><input type="radio" name="data[buy]" value="0" {if !$data['buy']}checked{/if} /> {L('否')}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="padding-top: 10px;">{L('评论回复权限')}：</label>
                            <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="radio-inline"><input type="radio" name="data[reply]" value="1" {if $data['reply']==1}checked{/if} /> {L('都允许')}</label>
                                    <label class="radio-inline"><input type="radio" name="data[reply]" value="2" {if $data['reply']==2}checked{/if} /> {L('仅自己')}</label>
                                    <label class="radio-inline"><input type="radio" name="data[reply]" value="0" {if !$data['reply']}checked{/if} /> {L('禁止所有')}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group dr_one">
                            <label class="col-md-2 control-label">{L('前台分页显示数量')}：</label>
                            <div class="col-md-9">
                                <label><input class="form-control" type="text" name="data[pagesize]" value="{$data.pagesize}" ></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab_1">
                    <div class="form-body">
                        {php $groups[0]=array('id'=>0, 'name'=>L('游客')); $groups+= $ci->get_cache('member', 'group');}
                        <div class="form-group dr_one">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-9">
                                <label class="radio-inline">{L('禁用')}</label>
                                <label class="radio-inline">{L('验证码')}</label>
                                <label class="radio-inline">{L('评论%s', SITE_EXPERIENCE)}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <label class="radio-inline">{L('评论%s', SITE_SCORE)}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <label class="radio-inline">{L('评论间隔')}</label>
                            </div>
                        </div>
                        {loop $groups $group}
                        {if $group.id>2}
                        <div class="form-group dr_one">
                            <label class="col-md-2 control-label">{$group['name']}：</label>
                            <div class="col-md-9"></div>
                        </div>
                        {loop $group['level'] $level}
                        {php $id=$group['id'].'_'.$level['id'];}
                        <div class="form-group dr_one">
                            <label class="col-md-2 control-label">{$level['name']}：</label>
                            <div class="col-md-9">
                                <label class="radio-inline"><input type="checkbox" name="data[permission][{$id}][disabled]" {if $data['permission'][$id]['disabled']}checked="checked"{/if} value="1" /></label>
                                <label class="radio-inline"><input type="checkbox" name="data[permission][{$id}][code]" {if $data['permission'][$id]['code']}checked="checked"{/if} value="1" /></label>
                                <label class="radio-inline"><input class="input-text" type="text" name="data[permission][{$id}][experience]" value="{$data['permission'][$id]['experience']}" size="10" /></label>
                                <label class="radio-inline"><input class="input-text" type="text" name="data[permission][{$id}][score]" value="{$data['permission'][$id]['score']}" size="10" /></label>
                                <label class="radio-inline"><input class="input-text" type="text" name="data[permission][{$id}][time]" value="{$data['permission'][$id]['time']}" size="10" /></label>
                            </div>
                        </div>
                        {/loop}
                        {else}
                        {php $id=$group.id;}
                        <div class="form-group dr_one">
                            <label class="col-md-2 control-label">{$group['name']}：</label>
                            <div class="col-md-9">
                                <label class="radio-inline"><input type="checkbox" name="data[permission][{$id}][disabled]" {if $data['permission'][$id]['disabled']}checked="checked"{/if} value="1" /></label>
                                <label class="radio-inline"><input type="checkbox" name="data[permission][{$id}][code]" {if $data['permission'][$id]['code']}checked="checked"{/if} value="1" /></label>
                                <label class="radio-inline"><input class="input-text" type="text" name="data[permission][{$id}][experience]" value="{$data['permission'][$id]['experience']}" size="10" /></label>
                                <label class="radio-inline"><input class="input-text" type="text" name="data[permission][{$id}][score]" value="{$data['permission'][$id]['score']}" size="10" /></label>
                                <label class="radio-inline"><input class="input-text" type="text" name="data[permission][{$id}][time]" value="{$data['permission'][$id]['time']}" size="10" /></label>
                            </div>
                        </div>
                        {/if}
                        {/loop}
                    </div>
                </div>
                <div class="tab-pane" id="tab_2">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">{L('字段格式')}：</label>
                            <div class="col-md-9">
                                <textarea class="form-control" style="height:150px" name="data[format]" />{$data.format}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_4">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="padding-top: 10px;">{L('开启数据分表')}：</label>
                            <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="radio-inline"><input type="radio" name="data[fenbiao][use]" value="1" {if $data['fenbiao']['use']}checked{/if} /> {L('开启')}</label>
                                    <label class="radio-inline"><input type="radio" name="data[fenbiao][use]" value="0" {if !$data['fenbiao']['use']}checked{/if} /> {L('关闭')}</label>
                                </div>
                                <span class="help-block">{L('开启分表可大大提高数据的负载力，系统采用5w数据基数分表存储，但无法进行综合查询和统计')}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {if $mycfg}
                <div class="tab-pane" id="tab_5">
                    {load $mycfg}
                </div>
                {/if}
            </div>
        </div>
    </div>

    <div class="myfooter">
        <div class="row">
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn green"> <i class="fa fa-save"></i> {L('保存')}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{template nfooter.html}