
{loop $list $t}
    <!-- TIMELINE ITEM -->
    <div class="timeline-item">
        <div class="timeline-badge">
            <a href="{dr_space_url($t.authorid)}">
                <img class="timeline-badge-userpic" src="{dr_avatar($t.authorid)}">
            </a>

        </div>
        <div class="timeline-body">
            <div class="timeline-body-arrow"> </div>
            <div class="timeline-body-head">
                <div class="timeline-body-head-caption">

                    {if $t.authorid==$member.uid}
                    <a href="{dr_space_url($t.authorid)}" target="_blank" class="timeline-body-title font-blue-madison">我</a> 说 :
                    {else}
                    <a href="{dr_space_url($t.authorid)}" class="timeline-body-title font-blue-madison" target="_blank">{$t.tousername}</a> 说 :
                    {/if}

                    <span class="timeline-body-time font-grey-cascade">{dr_fdate($t.dateline)}</span>
                </div>
                <div class="timeline-body-head-actions">

                </div>
            </div>
            <div class="timeline-body-content">
                <span class="font-grey-cascade">{htmlspecialchars_decode($t.message)}</span>
            </div>
        </div>
    </div>
    <!-- END TIMELINE ITEM -->
{/loop}