{template nheader.html}
<script type="text/javascript">
$(function(){
	{if $result_error}
	dr_tips('{$result_error}', 3);
	{/if}
	$("#dr_loadmore").click(function(){
		var page = $("#dr_page").val();
        $("#dr_loadmore").html('<img src="{MEMBER_THEME_PATH}loading.gif">');
		$.get("{$searchurl}", {page:page}, function(data){
            if (data != "null") {
                $("#dr_body").append(data);
                $("#dr_page").val(Number(page) + 1);
                $("#dr_loadmore").html('<i class="fa fa-refresh"></i> 加载更多');
            } else {
                $("#dr_loadmore_html").hide();
            }
		});
	});
});
</script>
<input name="page" id="dr_page" type="hidden" value="2" />



<div class="row">
    <div class="col-md-12">

        <div class="portlet light portlet-fit bg-inverse ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-envelope font-red"></i>
                    <span class="caption-subject bold font-red uppercase"> <strong>我与 <b style="color:#00F">{$username}</b> 的交谈记录</strong></span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="timeline  white-bg" id="dr_body">

                    {template pm_read_data.html}
                </div>
            </div>
        </div>


    </div>
</div>


<div class="row" id="dr_loadmore_html" style="margin-top:10px">
    <div class="col-md-offset-4 col-md-4 text-center">
        <a href="javascript:;" class="btn default btn-block" id="dr_loadmore"> <i class="fa fa-refresh"></i> 加载更多 </a>
    </div>
</div>

<div class="row" style="margin-top:30px">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bg-inverse ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-envelope font-red"></i>
                    <span class="caption-subject bold font-red uppercase"> 回复消息</span>
                </div>
            </div>
            <div class="portlet-body" style="padding:0 15px 15px 15px">
                <form action="" method="post" class="form-horizontal" novalidate="novalidate">
                    <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea class="form-control" name="data[message]" rows="3"></textarea>
                                </div>
                            </div>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="mysubmit btn green"><i class="fa fa- envelope-o"></i> 立即发送</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{template nfooter.html}