<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold ">{L('商品信息')}</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-body">
            <table class="table dr_table">
                <thead>
                <tr>
                    <th width="15%">{L('图片')}</th>
                    <th>{L('描述')}</th>
                    <th>{L('价格')}</th>
                </tr>
                </thead>
                <tbody>
                    {list action=table table=1_mall IN_id=$cids field=thumb,price,description}
                    <tr>
                        <td><img src="{dr_thumb($t.thumb)}" style="cursor:pointer; width: 100px;" onclick="dr_show_file_info({$t.thumb})"></td>
                        <td>{$t.description}</td>
                        <td>{$t.price}</td>
                    </tr>
                    {/list}
                </tbody>
            </table>
        </div>
    </div>
</div>